deployment/step-functions/step_fn.json.tmpl
{
  "StartAt": "MergeDefaults",
  "TimeoutSeconds": 259200,
  "States": {
    "MergeDefaults": {
      "Type": "Pass",
      "Next": "Start Transfer Pipeline",
      "Parameters": {
        "merged.$": "States.JsonMerge(States.StringToJson('{\"skip_validation\": false}'), $$.Execution.Input, false)"
      },
      "ResultPath": "$.merged"
    },
    "Start Transfer Pipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName": "StartTransferPipeline",
        "JobQueue": "${batch_job_queue_arn}",
        "JobDefinition": "${batch_job_definition_arn}",
        "ContainerOverrides": {
          "Command": [
            "echo 'Hello'"
          ]
        }
      },
      "Next": "Success",
      "ResultPath": null
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}